[2021-08-20 17:06] oruebel commented on #301
@ln-vidrio

[2021-08-20 17:40] bendichter commented on #301
@jjumao2 yes it's possible the `getRow` function does not work with multiple indexes. Good catch

[2021-08-20 18:40] ln-vidrio commented on #301
How is your `colnames` property set?

[2021-08-20 18:44] ln-vidrio commented on #301
Actually, it'd be helpful if you provided the snippet of code which populated the Unit table.

[2021-08-22 15:31] jiumao2 commented on #301
nwb.units = types.core.Units( ...
    'colnames', {'spike_times', 'waveforms', 'waveforms_index', 'waveforms_index_index', 'unit_type','cluster_id','polytrode'}, ...
    'description', ['units table, Definition for unit_type: ',r.Units.Definition{2}, ' ', r.Units.Definition{3}], ...
    'id', types.hdmf_common.ElementIdentifiers( ...
    'data', int64(0:length(spikes) - 1)), ...
    'spike_times',

[2021-08-22 15:53] jiumao2 commented on #301
nwb.units = types.core.Units( ...
'colnames', {'spike_times', 'waveforms', 'waveforms_index', 'waveforms_index_index', 'unit_type','cluster_id','polytrode'}, ...
'description', ['units table, Definition for unit_type: ',r.Units.Definition{2}, ' ', r.Units.Definition{3}], ...
'id', types.hdmf_common.ElementIdentifiers( ...
'data', int64(0:length(spikes) - 1)), ...
'spike_times', spike_times_vector,

[2021-08-25 14:38] ln-vidrio commented on #301
@jiumao2 Can you pull from that branch and try `getRow` again?

[2021-08-25 16:43] jiumao2 commented on #301
Is it related to the "colname" or dimension of "waveforms"?
The following error emerged when trying my previous dataset.

When I tried to form new dataset with identical codes, the function "util.create_indexed_column()" didn't work. I met the following error:

[2021-08-26 13:29] ross-folkard opened #304 "Error in nwbRead - Undefined variable "types" or class "types.hdmf_experimental.DynamicTableRegion"."
Hi there,

I generated a nwb file using the Spike Interface pipeline with  Jupyter notebook, where it can be successfully viewed with nwbWidgets. However, when I try to load the same file in to Matlab, it throws an error. This seems to only happen for files that contain Trigger data with spike times, as I am successfully able to load a nwb file without the trigger data and just spike times.

Any h

[2021-08-30 08:37] rf13734 commented on #304
Hi @rly ,

I had no issues creating a nwb file with just spikes form the 'simple_bin' SI pipeline, but ran into issues with the ced_nwb_conversion_simple pipeline:

![image](https://user-images.githubusercontent.com/43117750/131310820-111efd1a-29c5-422b-a289-0d3162b5a5f9.png)

I'm using pynwb 2.5.1

![image](https://user-images.githubusercontent.com/43117750/131311082-cde83801-a9b8-4a39-a91f-017c4

[2021-08-30 14:30] bendichter commented on #304
I have shared the data

[2021-08-30 17:23] rly commented on #304
Hi @rf13734 ,

It looks like you are using PyNWB 2.5.1, which is a broken and removed version of PyNWB (it was released with the wrong version tag). This version should not be downloadable from PyPI. How did you get it?

Can you please `pip uninstall pynwb` and then `pip install pynwb==2.0.0`, try to generate the file again, and let us know if the problem persists? Thanks in advance!

[2021-08-30 19:53] lvsltz commented on #304
Quick comment @rly: I've seen this as well multiple times just by doing `pip install pynwb`

[2021-08-31 07:05] rly commented on #304
Interesting. That's not great. I might have to delete the release or push 2.6 just so that becomes the largest version.
@lvsltz can you reproduce the behavior?

I've found that `pip install -U pynwb` with pip 20.3.1 would install the yanked version (incorrectly). See https://github.com/pypa/pip/issues/9290 but this is fixed now and @rf13734 is using pip 21.0.1 (at least currently).

[2021-08-31 13:03] lvsltz commented on #304
@rly I can't reproduce it. It was probably the old pip. Sorry for the diversion on this issue.

[2021-09-03 05:13] ryaoki opened #305 "Error loading columns with spaces in names"
When I tried to load spike time from one of the datasets of Steinmetz et al, 2019 (https://figshare.com/articles/dataset/Datasets_from_Steinmetz_et_al_2019_in_NWB_format/11274968/1) with the following snippet,

[code]
`unit_colnames{6}
`
ans =

    'spike_times         '

`nwb.units.getRow(unit_ids(1), 'useID', true, 'columns', unit_colnames(6))
`
and I got the following error.

[code]
It seems to

[2021-09-03 15:29] ln-vidrio commented on #305
This looks like because we assert that `colnames` matches the name of the column stored in the `DynamicTable`. If you replace `colnames` temporarily with the `deblank`ed version that will work as a workaround.

[code]

I have a hunch this was legacy MatNWB behavior but I cannot say for certain until I know how this data was created.

[2021-09-03 16:33] oruebel commented on #305
For a valid NWB file, this should be the case.  ``colnames`` is used to indicate the order of columns in the table, and as such the values in ``colnames`` should match the names of the column datasets. As such, this seems to be an error in the file.

[2021-09-06 08:52] ryaoki commented on #305
The workaround worked. Thank you very much!

[2021-09-13 15:52] bendichter opened #306 "ecephys currently requires stats toolbox for random number generation"

[2021-09-14 12:51] bendichter opened #307 "change tutorials to use `addRow`"

[2021-09-22 17:51] bendichter opened #308 "error generating shape of attribute"
The nd-ecog extension, using [this schema](https://github.com/catalystneuro/ndx-ecog/blob/master/spec/ndx-ecog.extensions.yaml) has an error when reading an NWB file.

[code]

I think this is due to the [labels definition](https://github.com/catalystneuro/ndx-ecog/blob/master/spec/ndx-ecog.extensions.yaml#L10-L16), which has a shape, but no dimensions. @ln-vidrio , is it possible that the API gene

[2021-09-22 18:02] bendichter commented on #308
The example code in the README is also no longer working:
[code]

[2021-09-24 13:43] ln-vidrio commented on #308
Rather, what happens when a dimension label is empty? We currently don't use the dimension names at the user level but it is stored here.

[2021-09-24 14:25] bendichter commented on #308
Could we develop the validators entirely on the shape and ignore dims?

On Fri, Sep 24, 2021, 8:43 AM ln-vidrio ***@***.***> wrote:

[2021-09-24 15:07] ln-vidrio commented on #308
Does #309 work? It decouples the generation but changes little else.

[2021-09-27 18:50] bendichter commented on #308
@ln-vidrio no, this doesn't work for me. Could you try this test code?

[code]

[2021-09-28 16:28] ln-vidrio commented on #308
I'm actually getting a sightly different error due to `types.ndx_ecog.Surface` requiring `uint32` for faces.

Forcing uint32(randn(3, 20) * <some constant>) allows me to run without errors.

[2021-09-28 16:33] ln-vidrio commented on #308
Oh I forgot, please regenerate the extension before testing again.

[2021-09-28 16:45] bendichter commented on #308
It works! I made a few minor modifications to the example code:

[code]

[2021-09-29 02:49] ryaoki opened #310 "Errror using dynamicTable.getRow when ID is 0"
Hi,
When I ran this,
`row = nwb.units.getRow(0, 'useID', true, 'columns', {'spike_times'});`

I got the following error.

[code]

This can be hackily solved by commenting out ln.13 in types.util.dynamictable.getRow.

[2021-09-29 04:40] oruebel commented on #310
I believe the first parameter of ``getRow`` is the index (not the Id) of the row. Since Matlab uses 1-based indexing, I believe the correct call to retrieve the first row would be ``nwb.units.getRow(1, ...)`` instead of ``nwb.units.getRow(0, ...)``

[2021-09-29 06:35] ryaoki commented on #310
Thank you for reply.

[2021-09-29 06:38] ryaoki commented on #310
Thank you for reply. But I wanted to retrieve the row with ID = 0, not the first row.
I thought that if 'useID' is set to true, then first parameters is recognized as ID, not the index of the row...

[2021-09-29 07:05] oruebel commented on #310
CC @bendichter

[2021-09-29 15:11] #308 closed

[2021-09-30 02:33] ryaoki opened #312 "Error loading some columns in dynamic table"
Hi again,

When I tried to load spike time from one of the datasets of Steinmetz et al, 2019 (https://figshare.com/articles/dataset/Datasets_from_Steinmetz_et_al_2019_in_NWB_format/11274968/1) with the following snippet,

[code]
Then I got the following error

[code]
I am not sure, but this seems to be related to the fact that ndims = 2 and dims of "peak_channel" is [1, 2073], with 1 entry in 1st

[2021-09-30 13:44] bendichter commented on #312
Thanks for the report, @ryaoki. You are right that all of the other columns in that table are shape [2073] and this column is [2073 1]. That does seem to be causing the problem, but I'm not sure why. We'll look into it.

[2021-09-30 15:50] owoolnough opened #313 "Extension QoL Suggestion"
One quality of life suggestion as it keeps happening to me...
When you run nwbRead for the first time with an ECoG file it generates the +types/+ndx_ecog folder. Almost invariably I'm in another folder at the time and it generates that folder in the currently active folder. Is there any way to default it to generate into the matnwb/+types folder?

[2021-09-30 16:21] ln-vidrio commented on #313
That was the original implementation but it was changed because not everyone prefers to write to their toolbox installation directories and it does cause a few problems if you are working with multiple different NWB schema versions at once.

I can add a workaround wherein you can provide an option in `nwbRead` to set a custom directory that the files should be saved to. Would that work? You would

[2021-09-30 16:23] ln-vidrio commented on #312
That is a special case which I can support. DataStub indexing doesn't quite support this case yet (1-rank indexing that overflows the first dimension of data). I'll take a look at adding that feature.

[2021-10-01 14:12] ln-vidrio commented on #313
@bendichter The default behavior currently is to save the files in the current workspace. The reasons for why it was changed from writing directly to the installation directory is mentioned above though I could simply be misremembering.

Regarding adding paths, I'd rather not change the MATLAB environment silently. To your point, saving generated files elsewhere is probably way less useful without

[2021-10-01 14:19] bendichter commented on #313
@ln-vidrio in the change you are proposing, what would the default behavior be?

[2021-10-01 14:21] ln-vidrio commented on #313
@bendichter Same as it is now: saved in the workspace. I'm proposing adding an option to save somewhere that's not in the workspace.

[2021-10-01 14:24] bendichter commented on #313
What if the default behavior is to save in the matnwb directory with an option to save somewhere else?

[2021-10-01 14:45] ln-vidrio commented on #313
That would just be a reversion. Doable but it will change behavior for all users going forward again.

[2021-10-01 14:46] ln-vidrio commented on #313
A good way to avoid the option of setting paths would be to just add an option to generate to workspace instead of the install directory.

[2021-10-01 16:39] owoolnough commented on #313
It sounds like the best of those options would be to default into saving in the matnwb install directory with an option to save elsewhere. I imagine most data users would only have a single schema and this ensures all the required files default into the persistent MATLAB path.

[2021-10-01 17:38] bendichter commented on #313
Yes, but I do appreciate the trade-off of not wanting to change default behavior. Inevitably this will throw off someone's workflow.

[2021-10-02 18:48] bendichter commented on #306
remove the poisson random number generator, and generate example spikes in some other way.

[2021-10-04 15:52] ln-vidrio commented on #312
Take a look at #314 . Does that fix the issue?

[2021-10-05 10:27] ryaoki commented on #312
I am sorry for late response. The issue was fixed! Thanks a lot!

[2021-10-05 10:27] #312 closed

[2021-10-05 10:43] ryaoki commented on #310
The issue is fixed. Thanks a lot!

[2021-10-05 10:43] #310 closed

[2021-10-05 12:39] rf13734 commented on #304
Apologies for the very late response, I installed pynwb 2.0
![image](https://user-images.githubusercontent.com/43117750/136023437-2609886f-4d7a-4892-a9d4-6435daa01bd0.png)

I'm now getting the following assertions error for this file:
![image](https://user-images.githubusercontent.com/43117750/136023732-6c11f815-f15d-4a49-be9e-e6fa4d22bc87.png)
![image](https://user-images.githubusercontent.com/43

[2021-10-08 11:29] lvsltz opened #316 "convenience functions for icephys in schema 2.4"
Is there any plan to include in matnwb some convenience functions for the new icephys tables introduced by nwb-schema 2.4, such as those mentioned in the [pynwb tutorial](https://pynwb.readthedocs.io/en/stable/tutorials/domain/plot_icephys_pandas.html#converting-icephys-metadata-tables-to-pandas-dataframes) (e.g. `get_icephys_meta_parent_table` or `to_hierarchical_dataframe`)?

[2021-10-12 12:17] ryaoki opened #317 "Adding new columns to existing dynamic table"
Hi,

I want to add columns to already created dynamic table. For example, I want to add "ontology" and "allen CCF coordinate" columns to nwb.units based on post-hoc histology.

Here is what I have been trying.

[code]

And I got the following error.

[code]

I wonder if it can be easily solved, or if it is not a good practice to add columns afterwards.

[2021-10-12 16:44] cechava opened #318 "tutorial for types.hdmf_common classes"
Need a tutorial that covers construction and usage for built-in methods that covers the following

- [x] VectorData
- [x] Vector Index
- [x] ElementIdentifier
- [x] DynamicTable
- [x] DynamicTableRegion

[2021-10-12 16:49] bendichter commented on #318
Similar to https://hdmf.readthedocs.io/en/stable/tutorials/plot_dynamictable_tutorial.html#sphx-glr-tutorials-plot-dynamictable-tutorial-py

[2021-10-12 17:31] bendichter commented on #304
@rf13734 could you open an issue for this in https://github.com/catalystneuro/mease-lab-to-nwb? It looks like your file that we use to extract intervals has a different number of start and stop times for those intervals

[2021-10-13 15:58] bendichter commented on #318
good question, @cechava . @ln-vidrio , would it be possible to generalize DataPipe for text?

[2021-10-13 16:01] bendichter commented on #318
@cechava is this is holding you back, let's finalize the tutorial without expandable tables and add it in later

[2021-10-13 16:02] cechava commented on #318
not holding me back. The rest of the tutorial is ready, just need permissions to push branch to repo

[2021-10-13 18:26] lawrence-mbf opened #319 "Use MATLAB string type in the backend"
Much easier to work with than character arrays or cell arrays of character arrays.

Character arrays and cell arrays of character arrays should still be supported as input arguments but silently coerced to be strings in the backend.

Would limit minimum MATLAB version to R2016b but that should be fine.

[2021-10-14 02:34] ryaoki commented on #317
@ln-vidrio It worked perfectly! Thanks a lot!

[2021-10-14 02:34] #317 closed

[2021-10-14 19:10] cechava opened #321 "Cannot append MATLAB table to DynamicTable object without id's"
When executing the following code:

[code]

I get the following MATLAB error pointing to an undefined variable within the addTableRow function :
[code]

This is not an issue when adding a row by the variable arguments methods as in the following code
[code]
In this case the underlying function will simply add an index to the new row corresponding  to the row's location index (0-indexed).

[2021-10-14 23:48] cechava opened #322 "ragged column arrays not formatted properly when VectorData object is passed in to ObjectView"
Issue with the behavior of ObjectView. In theory, it is possible to pass in the object itself rather than the full hdf5 path to the object. However, this doesn't seem to be the case.

For example, when I run the following code to create a DynamicTable with ragged array columns:
[code]

The output is, as expected:
[code]
However, using the suggested method of casting the object itself as an object

[2021-10-15 14:52] cechava commented on #322
Indeed, it's fixed there

[2021-10-15 14:52] #322 closed

[2021-10-19 14:06] bendichter opened #324 "addColumn"

[2021-10-19 15:56] cechava opened #326 "ElementIdentifiers object cannot take DataPipe object as data"
trying to create an ElementIdentifiers object to serve as row id's in an expandable table. The following piece of code throws out an error:
[code]
Error:
[code]
no such issue with VectorData objects

started getting this error after most recent update to master branch

[2021-10-19 17:36] #326 closed, assigned to nobody

[2021-10-19 19:23] cechava opened #328 "getRow does not work with an expandable table"
using getRow with an expandable table that has been loaded-in produces an error.

The following code generates and saves to file an expandable table
[code]

The following code loads the expandable table and attempts to get the first row
[code]

The following error is produced:
[code]

[2021-10-21 14:00] cechava commented on #328
fixed with #330

[2021-10-21 14:00] #328 closed

[2021-10-25 15:34] cechava opened #334 "no DynamicTable check"
Currently, there's no check on the shape or attributes of a DynamicTable object either at construction or when adding additional rows. This results in the user potentially creating a table with errors and/or that cannot be exported to an nwb file.
Every dynamic table must pass two checks:
1) the length of all columns should be the same
2) the length of row id's should match the length of columns.

[2021-10-25 18:28] #321 closed, assigned to cechava

[2021-10-29 02:30] cechava opened #336 "issue exporting NWB file after it has already been created"
I would like to do the following:
1) read in an nwb file
2) do something with it like create a new segmentation plane attached to an imaging plane
3) and export the file again

 However, it seems I am unable to do the simpler task of just reading in the file and exporting it again.
The following MATLAB code

[code]
produced this error:
[code]

I tried using the same file name for exporting, but th

[2021-10-29 19:26] cechava commented on #336
@bendichter indeed it appears `DataPipe` is the issue. Specifically, an error appears when trying to export a file with an acquisition containing a `DataPipe` object as data. No issue exporting if the `DataPipe` is in another part of the file such as the interval_trials field.

[2021-10-29 19:37] cechava commented on #336
closing out and creating a new issue.

[2021-10-29 21:29] cechava commented on #336
there was an independent bug in my code that led me to believe the `DataPipe` object was the issue. It's not entirely clear what the issue is with re-exporting the DANDI file used in the original post. The error does seem to point at an issue with the data in the acquisition field. Moreover, going through the process with another DANDI-downloaded file that did not have data in the acquisition fiel

[2021-10-29 21:33] bendichter commented on #336
Interesting. I suggest paring down the code section by section to get a minimal snippet that reproduces the error. If you can post that and the full traceback I might be able to help you figure out what is going on.

[2021-10-29 22:37] cechava commented on #336
The following snippet of code replicates the error. The file path should be replaced to the local location of the file downloaded from [here](https://gui.dandiarchive.org/#/dandiset/000054/0.210819.1547/files?location=sub-F3%2F)

[code]

The output error
[code]

Some further info:
- creating a dummy file in the manner indicated by the ophys tutorial and performing this process does _not_ generate

[2021-10-29 22:46] cechava commented on #336
Data from [this DANDIset]( https://gui.dandiarchive.org/#/dandiset/000048) does have acquisition data and the file be read-in and re-exported. I think the issue is specific to the files from the Plitt/Giocomo DANDIset.

[2021-10-29 22:51] bendichter commented on #336
You could try deleting components of the file with h5py.

del dataset

and

del group

Both work. You could use that approach to pare the file down

On Fri, Oct 29, 2021 at 6:46 PM cechava ***@***.***> wrote:

--
Ben Dichter, PhD
Data Science Consultant
personal website <http://bendichter.com/>

[2021-11-01 16:07] cechava commented on #336
Deleting the 'TwoPhotonSeries' acquisition group allows the file to be re-exported without issue. Do you know how this file was created? I'm wondering if there's something about how this file was created that is causing this issue.
I tried creating test files with expandable datasets in the acquisition group but re-exporting those test files does not create an error.

[2021-11-03 19:50] cechava opened #337 "standard matrix slicing not supported for DataPipe object"
Currently, accessing data in an NWB file with standard matrix requires reference to the `DataStub` object. For example:
[code]
It would be more practical if the data could be accessed in this way without having to refer to the subfields of the `TwoPhotonSeries` object. For example,
[code]
This might require extending the functionality of the `DataPipe` class

[2021-11-11 14:51] bendichter opened #338 "cell array with single value saved as scalar"
When you save a cell array with a single element that is a string attribute, e.g. `{'spike_times'}`, this is saved as a scalar, which causes a validation error with `pynwb.validate`.

This bug has appeared in `DynamicTable.colnames`, which should be an array of strings. If only a single column is provided, this value is converted to a scalar string and causes a validation error.

This is preventin

[2021-11-11 15:08] bendichter commented on #338
@cechava , we could use your help with this. Would you able to take a stab at it?

[2021-11-11 15:42] bendichter opened #339 "int type error"
It looks like `int`s are being saved in the wrong byte size. The following should produce int16s but it produces int8s.

[code]

![image](https://user-images.githubusercontent.com/844306/141326010-cb674839-650b-4081-aa18-3bfd0ae080d1.png)

@ln-vidrio any ideas here would be greatly appreciated.

[2021-11-11 15:52] emilyasterjones opened #340 "validation requires string array for experimenter, so fails if only one experimenter provided"
The schema states general_experimenter should be a text field, but validation fails unless it's a string array. Related to [this issue in pyNWB](https://github.com/NeurodataWithoutBorders/pynwb/issues/1091).
[code]
leads to
[code]
 A workaround:
[code]

[2021-11-11 15:59] emilyasterjones commented on #340
Another example: if you run the [MatNWB tutorial](https://neurodatawithoutborders.github.io/matnwb/tutorials/html/ecephys.html), you get the following related errors:
[code]

[2021-11-11 16:05] emilyasterjones opened #341 "validation requires electrode ElementIdentifiers to be int, but no such type in Matlab"
This bug appears when validating `general_extracellular_ephys_electrodes`. Following the [MatNWB tutorial](https://neurodatawithoutborders.github.io/matnwb/tutorials/html/ecephys.html), which builds an electrodes table but doesn't manually specify the ids, you get:
[code]
Matlab only has int types where the number of bytes is specified (int8, int16, etc) so it's not possible for an int to be store

[2021-11-11 16:31] bendichter commented on #341
@emilyasterjones `int` is usually just shorthand for `int32`. The schema defines the minimum precision of a data type, so we need the data to be >= 32 bits. I think the problem here is that MatNWB is demoting integer types to `int8`. See #339

[2021-11-11 16:45] bendichter commented on #340
reproduced:

[code]

[code]

`[root/general/experimenter (general/experimenter): incorrect shape - expected an array of shape '[None]', got non-array data 'My Name']`

[2021-11-11 16:48] bendichter commented on #340
related to #338

[2021-11-11 17:16] oruebel commented on #340
I'm not sure if this is really an error in MatNWB itself or whether this is an error in the tutorials. According to the schema ``experimenter`` and ``related_publications`` should be arrays of strings. These fields used to be single strings but were changed to arrays of strings in version 2.1 of the schema.

* **Release notes for NWB 2.1:** https://nwb-schema.readthedocs.io/en/latest/format_releas

[2021-11-11 17:24] emilyasterjones commented on #340
Either way, it doesn't work if you only have a single entry. This:
[code]
still returns the error. You have to have at least 2 entries in that cell array or else it converts it to a string.

[2021-11-11 23:09] emilyasterjones commented on #339
All `int` variables that are passed through `types.util.correctType` are getting cast down to the smallest possible int size. Starting at line 67:
[code]
So all the `ElementIdentifier` ids are getting cast to `int8`.

For now, I'm patching my local copy by replacing that block with:
[code]

However, it appears that something in `nwbExport` is also casting these ints. The NWB object I'm working wit

[2021-11-12 15:55] cechava commented on #340
@bendichter digging into this. The issue seems to be with the HDF5 C library.  Up until the point the `general_experimenter` data is passed into the H5ML.hdf5lib2 MEX function, the variable remains a cell array. This occurs in line 100 of MATLAB's H5D.write function.

One potential work-around on the MatNWB side might be to wrap the cell array with another cell array when the length is 1, before p

[2021-11-12 16:07] cechava commented on #340
I'm wondering if it might not be easiest to modify the pynwb function to accept string or arrays. Albeit, it's not the most elegant solution.

[2021-11-12 17:06] cechava commented on #339
a more general solution is to modify `checkDtype` to recognize when `val` is not a double. In that case, the user has cast the array to a specific type and we should not attempt to correct the type.  I will start a PR with this modification.

[2021-11-12 23:08] oruebel commented on #340
For the case of `general/experimenter` I believe PyNWB does accept both string or array of strings, however, this is only because that field used to be just a string in NWB 2.0 and was changed to an array of strings in NWB 2.1, so there is extra logic for backward compatibility for this field. However, for other array of string datasets, PyNWB may not accept a scalar string on read if the schema s

[2021-11-16 18:24] tekriwal opened #343 "Cannot load in nwb file"
Index exceeds the number of array elements (0).

Error in types.util.correctType (line 57)
prefix = typeMatch{1};

Error in types.core.AnnotationSeries (line 10)
        varargin = [{'comments' 'no comments' 'data_conversion' types.util.correctType(1, 'float32')
        'data_resolution' types.util.correctType(-1, 'float') 'data_unit' 'n/a' 'description' 'no description'}
        varargin];

Error

[2021-11-16 19:48] ln-vidrio commented on #343
Ah, part of this is that schema version `2.1.0` is not present as a schema option. The other is actually a bug in the dtype not supported `float` types as it should. I will follow up this ticket with updates for the two issues.

[2021-11-16 20:06] ln-vidrio commented on #343
#344 has added 2.1.0 as a valid schema which has now been merged so re-downloading from the Github repository should . Working on the `float` discrepancy.

[2021-11-16 20:23] tekriwal commented on #343
Great, trying it now!

Best,
Andy Tekriwal
609-276-1076

On Tue, Nov 16, 2021 at 1:07 PM ln-vidrio ***@***.***> wrote:

[2021-11-16 20:24] ln-vidrio commented on #343
Ah, sorry. You will most likely receive the same error because the `float` discrepancy is the error message we're seeing in the ticket.

[2021-11-16 20:46] tekriwal commented on #343
Yeah, still getting error. Wasn't sure if I was doing something wrong on my
end though so thanks for letting me know. Is there anything I can do on my
end to help or wait to hear back when a change is pushed?

Best,
Andy Tekriwal
609-276-1076

On Tue, Nov 16, 2021 at 1:25 PM ln-vidrio ***@***.***> wrote:

[2021-11-16 20:49] ln-vidrio commented on #343
I'm currently waiting on #345 's tests to finish. Once that finishes I can let you know that you can test it.

[2021-11-16 20:55] tekriwal commented on #343
Thank you!

Best,
Andy Tekriwal
609-276-1076

On Tue, Nov 16, 2021 at 1:49 PM ln-vidrio ***@***.***> wrote:

[2021-11-16 21:19] ln-vidrio commented on #343
That is done, when you find the time let me know if the new main branch works.

[2021-11-16 21:42] #339 closed

[2021-11-16 22:05] tekriwal commented on #343
Cool! I am good to go, thank you.

Should I mark the issue resolved or something on me end?

Best,
Andy Tekriwal
609-276-1076

On Tue, Nov 16, 2021 at 2:19 PM ln-vidrio ***@***.***> wrote:

[2021-11-16 22:12] ln-vidrio commented on #343
I can do that.

[2021-11-16 22:12] #343 closed

[2021-11-17 16:55] ln-vidrio commented on #338
@bendichter So we wish to sharply delineate between "scalar" and "non-scalar" strings by their cell-array presence? So a character array being exported should still be a scalar string with symmetric behavior on read?

[2021-11-17 17:05] bendichter commented on #338
@ln-vidrio yes, that's right.

[2021-11-17 19:05] ln-vidrio commented on #341
Does this still occur with the merging of #342?

[2021-11-17 19:20] emilyasterjones commented on #341
Sorry, I don't have time to test this right now. If you use the code in the [tutorial](https://neurodatawithoutborders.github.io/matnwb/tutorials/html/ecephys.html) it should replicate the issue.

[2021-11-17 20:31] #337 closed

[2021-11-17 21:14] cechava opened #349 "failing validation of matnwb-generated files with cached namespace"
matnwb-generated NWB files fail validation due to missing experimental.yaml file. The following replicates the error:

[code]

[code]
full traceback:
[code]

No issue when the pynwb validator is is run with the  `--no-cached-namespace`
There's also no issue with pynwb-generated files.

[2021-11-17 21:15] cechava commented on #349
@ln-vidrio let me know if you have an idea of how to address this.

[2021-11-17 21:24] ln-vidrio commented on #349
This is because we're assuming that there is only one namespace per `namespace.yaml` file. In fact, nothing from that experimental namespace is actually generated as class files anyway.

[2021-11-17 22:13] oruebel commented on #349
@rly this issue may be of interest for you

[2021-11-18 15:21] #338 closed

[2021-11-18 15:35] ln-vidrio commented on #340
With the merging of #346 validation appears to not error unless I'm doing something wrong here.

This is using the following snippet for file creation:
[code]

and the following to read/validate:
[code]

[2021-11-18 15:52] ln-vidrio commented on #341
This appears to be fixed as well though I could be validating this incorrectly using PyNWB 2.0.0. Can @bendichter or @cechava confirm that this works?

[2021-11-19 01:18] cechava commented on #341
@ln-vidrio this issue is fixed. The file now passes validation.

[2021-11-19 01:18] cechava commented on #341
fixed with #342

[2021-11-19 01:18] #341 closed

[2021-11-19 18:42] #349 closed

[2021-11-19 18:48] cechava opened #351 "failing validation of matnwb-generated files with extension in cached namespace"
pynwb validation of matnwb-generated files fails when an extension is in the cached namespace.
This is and independent issue from #349

To replicate:
[code]
[code]
No issue when cached namespace is not used:
[code]

[2021-11-19 19:01] cechava commented on #351
Doing some printing. It looks like pynwb is trying to use key 'NWBFile' to access an entry in a dictionary that has the relevant subset of classes as keys (e.g., `Data`, `NWBContainer`, `Subject`). This is an incorrect behavior.
When successfully validating a file without an extension in the cached namespace, the 'NWBFile' keys is used to a access an entry in a dictionary with all core and hdmf-co

[2021-11-19 20:21] cechava commented on #351
Issue seems to be in how matnwb caches the namespace of the extension. Compare how the namespace cached by matnwb:
[code]
with how the namespace is cached by pynwb
[code]
Note that pynwb does not cache the `neurodata_types` key in `schema`. Modifying matnwb caching to exclude this key resolves the issue. Opening a PR with this change.

[2021-11-19 20:31] oruebel commented on #351
@rly can you clarify why caching the neurodata_types key is a problem and why PyNWB does not cache it?

[2021-11-19 23:17] rly commented on #351
This may be a bug in the PyNWB/HDMF validator. I thought this was resolved in https://github.com/hdmf-dev/hdmf/pull/613 . @cechava can you share that test file that you created?

[2021-11-19 23:20] rly commented on #351
Separately, PyNWB/HDMF should cache the `neurodata_types` key. That is a bug.

[2021-11-19 23:25] cechava commented on #351
Sure. The code to generate both files is below. They both make sure of the [ndx-ecog extension](https://github.com/catalystneuro/ndx-ecog)

python
[code]
MATLAB
[code]

[2021-11-22 17:35] cechava opened #353 "failing validation of matnwb-generated files when test schemas in namespace"
This issue is independent of other validation issues and probably only will affect a small number of matnwb users.
Validation of matnwb-generated files fails when the following extensions are in the namespace: `anon`, `rrs`, and `cs`. These extensions are found under `+tests/+unit` folder and are generated when running unit tests. Exclusion of these from the cached namespace resolves the problem.

[2021-11-22 17:36] cechava commented on #353
@ln-vidrio let me know your thoughts on this. Maybe just removing the namespaces at the end of the unit tests would be easiest.

[2021-11-22 17:38] ln-vidrio commented on #353
@cechava I agree, we'll have to do a full cleanup of the cache and generated classes in the unit tests.

[2021-11-22 23:52] cechava commented on #351
@rly Just realized you were asking for the actual files. To make life easy here are links to download:
[matnwb-generated file](https://drive.google.com/file/d/1bhU66guQLcusPKK109y7ZNkVve-dOj8n/view?usp=sharing)
[pynwb-generated file](https://drive.google.com/file/d/1n3JQavrmPg3xpcJqwZdL35xP5ecXXfJ1/view?usp=sharing)

[2021-11-23 20:43] cechava commented on #353
Given that some NWB files already have these namespaces cached (e.g.,
[this DANDIset](https://dandiarchive.org/dandiset/000054/0.210819.1547)). It would also make sense to modify NwbRead to ignore these test namespaces.

[2021-11-23 20:50] ln-vidrio commented on #353
Honestly since we're going to definitely have a step to clean up these classes, it wouldn't hurt to also delete them from cache. I'd rather not include more special "names" if I don't have to and it may occur that a user will need to use one of our testing namespace names (not just what we have now, but also unit tests in the future).

[2021-11-30 16:25] #334 closed, assigned to cechava

[2021-11-30 16:33] #324 closed, assigned to cechava

[2021-12-01 16:21] bendichter commented on #111
@cechava are all of these items complete now?

[2021-12-01 17:11] #313 closed

[2021-12-02 16:11] cechava commented on #111
yes, will close this issue when I merge PR #320 which is the tutorial covering its usage.

[2021-12-07 14:59] #353 closed

[2021-12-07 20:56] cechava opened #358 "checkConfig utility function erroneously fails when table contains multidimensional column"
To reproduce error:
[code]

[2021-12-08 00:22] bendichter commented on #358
I think this is correctly failing. If they are numbers you should be using a multidimensional array

[2021-12-08 01:24] cechava commented on #358
@bendichter sorry, posted the wrong snippet. The above should fail. The snippet below should pass without problem.
[code]

[2021-12-08 01:29] bendichter commented on #358
yes, that snippet looks right.

[2021-12-08 18:37] cechava opened #360 "exported matrices have wrong dimensions"
matrices are saved as rows-last in NWB file instead of rows-first.

Code to reproduce
[code]
Examining the dimensions in the exported file:

<img width="836" alt="Screen Shot 2021-12-08 at 12 35 07 PM" src="https://user-images.githubusercontent.com/12353559/145264793-5fa56ad2-8b72-4a18-afa0-914d9ed0b4a7.png">

[2021-12-09 02:50] bendichter commented on #360
woah, hold on. This is known, and documented in the README, and we have discussed this. It has to do with the way MATLAB represents arrays in memory. It uses F-ordering instead of C ordering. We can't change this without breaking every single user's code.

[2021-12-09 16:46] #358 closed

[2021-12-09 17:10] cechava commented on #360
Thanks for pointing me to the README. I vaguely remembered this, but couldn't figure out where I read it. I think this is an issue that should be further discussed. I'm finding that it leads to some incompatibility between matnwb and pynwb when multidimensional rows are involved.
For example, generating the file as above prevents loading into PyNWB (see below). The issue is that PyNWB recognizes t

[2021-12-09 17:15] cechava commented on #360
a couple of potential solutions come to mind:

1) re-generate the row id's when loading a MatNWB-generated file into PyNWB. This is not an ideal solution because it could be the case that the row ID's are meant to be meaningful (e.g., timestamps).

2) Address this on the MatNWB side and figure out how to encode the data in rows-first format. I have some initial work towards this in PR #361.

Let m

[2021-12-09 17:48] ln-vidrio commented on #360
1) Ignoring as I'd rather not have pynwb make changes solely to suit MatNWB.
2) is only feasible if we can guarantee at least one vector column. Not all Dynamic Tables have a `start_time` and I forget if `id` must be a vector or not since it's user-settable. That said, `id` **is** used by `addRow` to determine the true number of rows anyway so maybe that's not an issue.
3) This is guaranteed to br

[2021-12-09 18:17] cechava commented on #360
You do bring up a good point: `id` can be used to determine the true number of rows. It's then most straightforward to implement a solution on the pynwb side. Something like the following pseudo-code:

[code]

Checking now how loading a multidimensional pynwb table into MatNWB works out.

[2021-12-09 18:20] bendichter commented on #360
Sorry I am busy this week and not able to give it the attention it
deserves. Please try to avoid sweeping changes in the meantime

On Thu, Dec 9, 2021 at 12:18 PM cechava ***@***.***> wrote:

--
Ben Dichter, PhD
Data Science Consultant
personal website <http://bendichter.com/>

[2021-12-09 18:32] cechava commented on #360
No worries. Won't implement anything until we are all on the same page. Just wanted to start the discussion with relevant details.

The same issue occurs when going from pynwb into matnwb. Relevant code below.
[code]
[code]

[2021-12-09 18:49] cechava opened #362 "can't load NWB file from a directory outside of main matnwb directory"
trying to read in a file from outside of matnwb file produces the following error:
[code]

I verified that the namespaces folder is in my MATLAB search path (abridged below for readability)

[code]

[2021-12-09 18:50] cechava commented on #362
Probably a result from one of the recent merges since this used to work without problem.

[2021-12-09 19:00] ln-vidrio commented on #362
Can't quite reproduce it but I do have a fix for nwbRead not using your core namespace directory. MatNWB usage should only require adding the root matnwb directory to path.

[2021-12-10 15:44] bendichter commented on #360
the above error looks like a problem with `types.util.dynamictable.checkConfig`, right?

[2021-12-13 16:20] #362 closed

[2021-12-13 16:36] cechava commented on #360
Not quite. The issue is with MatNWB reading in the matrix in the NWB file as rows-last in size. The inferred number of rows (3) does not match the length of ID (100) so checkConfig throws an error. This is essentially the same mismatch that PyNWB complains about when we try to go the other way. I put together the schematic below to summarize the issue.

![encoding_issue_schema 001](https://user-im

[2021-12-14 14:55] bendichter commented on #360
![145852045-94eac1e1-09af-4327-b97d-6005ef3be3aa](https://user-images.githubusercontent.com/844306/146022066-77e9e862-0894-4d35-bff5-83244b5290ec.png)
This should be 3 x 2 x 100, as it indicates in the README:

[2021-12-14 16:54] cechava opened #364 "addRow function appending to wrong dimension of multidimensional matrices"
Given MATLAB's rows-last mode of input-output with NWB files, the .addRow method of `DynamicTable` objects should append to last dimension of multi-dimensional columns.

An example:

[code]
The code above produces a 100x3x2 array for the 'randomvalues' column which is encoded into file as 3x2x100 (see below).

<img width="817" alt="Screen Shot 2021-12-14 at 11 52 31 AM" src="https://user-images.gi

[2021-12-14 17:32] cechava opened #365 "MatNWB does not ignore nullspace in column names when reading in DynamicTable objects from file"
Trying to read in files from this example [DANDIset](https://dandiarchive.org/dandiset/000017/draft) leads to the following error:

[code]
The issue is that the `ElectrodeTable` has column names that have been null-padded to equal length:
<img width="836" alt="Screen Shot 2021-12-14 at 12 27 33 PM" src="https://user-images.githubusercontent.com/12353559/146049200-f35b12df-bac3-4281-b56a-aac7c8d887

[2021-12-14 18:07] cechava commented on #364
Upon further thought, going down this path will also mean modifying the checkConfig utility functions to ensure that:

1) length of row ID's matches the length of the last dimension of multidimensional columns

2) when checking for equal length of columns, the length of the last dimension of multidimensional columns should be considered instead of the first.

Probably there should also be some spe

[2021-12-14 22:07] cechava commented on #360
@bendichter I know that we agreed that we would tackle this issue by modifying addRow method in MatNWB as described in issue #364, but thinking about it further on it this falls short of addressing the issue and I think we should revisit.

The issue is schematized below:
![slide 001](https://user-images.githubusercontent.com/12353559/146086442-9726176b-2090-4d5c-9135-29c23276e4b1.png)

Basically,

[2021-12-14 22:20] #360 closed

[2021-12-16 15:32] #365 closed

[2021-12-17 14:05] lkeegan opened #368 "Error reading nwb file: Unable to resolve the name types.hdmf_experimental.DynamicTableRegion"
When trying to read a nwb file, both v2.4.0 and master of matnwb give the following error:
[code]
The file was created using [mease-lab-to-nwb](https://github.com/catalystneuro/mease-lab-to-nwb) with pynwb 2.0.0

Possible duplicate of https://github.com/NeurodataWithoutBorders/matnwb/issues/304?

Reading the same file with pynwb:

[code]

I don't know if this is an issue with matnwb or an issue wi

[2021-12-17 14:26] ln-vidrio commented on #368
I'm not aware of any schema which has DynamicTableRegion under the `hdmf_experimental` namespace. Can you run `util.getSchemaVersion(<filename>)` and post the output of that?

[2021-12-17 14:41] lkeegan commented on #368
[code]

But I have just generated the nwb file again, and this time it loads without the error message, so I guess I managed to corrupt the first version in some strange way - in any case doesn't look like an issue with matnwb, thanks!

[2021-12-17 15:16] #368 closed

[2021-12-22 13:48] bendichter opened #370 "better shape constraint error message"
see https://github.com/NeurodataWithoutBorders/helpdesk/discussions/16

[2021-12-22 14:57] ln-vidrio commented on #370
Wouldn't this be a request for better shape validation in MatNWB? The error in the ticket looks like it comes from a pynwb validation. Was there a MatNWB when exporting the file from MATLAB?

[2021-12-22 14:57] ln-vidrio commented on #370
Sorry,

[2021-12-22 15:07] bendichter commented on #370
oh yes, you are right. Do we do shape checking in MatNWB?

[2021-12-22 15:11] ln-vidrio commented on #370
I thought we did but I'm betting it's much more loose than the validators.

[2021-12-22 15:11] ln-vidrio commented on #370
I'll take a look

[2021-12-22 16:51] ln-vidrio commented on #370
We do but it appears to be too loose.

[2021-12-27 16:20] cechava opened #372 "can't read in published DANDIsets"
trying to read in a file from this [DANDIset](https://dandiarchive.org/dandiset/000017/draft) produces an error related to mismatch in column length (due to multi-dimensional columns).

snippet to reproduce:
[code]

[2021-12-28 16:13] #372 closed

[2022-01-04 16:53] ln-vidrio opened #375 "Add 1-D dataset option to Datapipe"
set `maxSize` to a single-dimension value

- [ ] Remove assertion check in blueprint pipe
- [ ] Test dataset read and write.

[2022-01-04 19:39] cechava opened #377 "getRow slices wrong dimension for multidimensional matrices"
for a DynamicTable with a column of shape `(P,O,M,N)`, the _getRow_ method should slice through the last dimension, which specifies the column height for multidimensional columns.
Currently, the _getRow_ method slices through the first dimension regardless of matrix dimensionality.

[2022-01-05 16:48] cechava opened #380 "error when loading in first row of ragged array column"
minimal code snippet to reproduce:

[code]
no issue with `getRow` for un-exported table
[code]
no issue with `getRow` for exported table with other rows
[code]

[2022-01-05 16:50] cechava commented on #380
Issue is with [these lines](https://github.com/NeurodataWithoutBorders/matnwb/blob/d25d54e7c9e1628255f0161e8b12e5bc66c4660b/%2Btypes/%2Butil/%2Bdynamictable/getRow.m#L87-L88) in `getRow` function.

[2022-01-07 17:06] cechava opened #383 "can't export expandable table with row vector"
An error is produced when expandable table contains a row vector. Using latest state of `master` branch for MatNWB.

No issue for column vectors or multidimensional matrices.

Minimum code snippet to reproduce
[code]

[2022-01-07 17:10] cechava commented on #383
Issue seems to be with [these lines](https://github.com/NeurodataWithoutBorders/matnwb/blob/4b8d89ee367532c0b90d1cf00bf9be17e1b3d6a0/%2Btypes/%2Buntyped/%2Bdatapipe/BlueprintPipe.m#L205-L209) which try to figure out the rank of the HDF5 dataset. Because, the `DataPipe` object with row vector has `maxSize` of [1 Inf], the HDF5 dataset is wrongly inferred to be of size rank 1.

@ln-vidrio any though

[2022-01-07 17:40] ln-vidrio commented on #383
Removing that check and just using the rank directly fixes the issue. We may have to check if our workaround for 1-dimensional vectors will still work though.

[2022-01-07 17:43] ln-vidrio commented on #383
Oh, actually that will be a separate pr. Yeah simply removing that check should resolve this issue.

[2022-01-07 18:55] #383 closed

[2022-01-07 20:25] #377 closed

[2022-01-12 16:02] #375 closed

[2022-01-13 17:55] cechava opened #388 "Vector indices don't support DataPipes"
this is necessary to create expandable tables with ragged arrays.

code to reproduce:
[code]

Issue is with assert statement within types.util.correctType. Currently, it can't handle empty arrays. Should be a quick fix

[2022-01-13 19:32] cechava opened #390 "VectorIndex data not updated properly for multidimensional ragged array columns"
[code]

Output after `addRow`
[code]

Second entry of `randomvalues_index` data should be 11.

No issues for 1D ragged array columns.

[2022-01-13 19:38] ln-vidrio commented on #390
I think this is just jumping the gun a little bit, we haven't swapped dimensions yet so `addRow` will still be using the first dimension to concatenate.

[2022-01-13 19:39] ln-vidrio commented on #390
Yes `addRow` currently assumes that you are appending on the first dimension which will be fixed in #387.

[2022-01-13 19:42] cechava commented on #390
Thanks for clarifying

[2022-01-26 15:00] cechava commented on #388
closed with PR #389

[2022-02-01 15:19] #364 closed

[2022-02-01 15:19] #390 closed

[2022-02-01 16:04] #370 closed

[2022-02-11 18:53] ln-vidrio opened #391 "Improve Doc String"
Missing from the API docs:
1) Whether or not a given property is optional or required.
2) What types are expected in each property.

[2022-02-11 21:06] #391 closed

[2022-02-15 23:08] ehennestad opened #393 "Tutorial typo"
From the matlab tutorial for calcium imaging:
https://neurodatawithoutborders.github.io/matnwb/tutorials/html/ophys.html

read_nwbfile.processing.get('behavior').nwbdatainterface.get('Position').spatialseries.get('SpatialSeries')

should be
read_nwbfile.get('processing').etc

[2022-02-15 23:15] ln-vidrio commented on #393
@ehennestad That's odd, read_nwbfile should be a NwbFile object and `processing` is listed as a property for me. Can you post what `read_nwbfile` looks like for you?

[2022-02-16 22:18] lawrence-mbf opened #394 "CheckConfig should allow "simply empty" colnames in Dynamic Tables"
Currently will throw an error since the type is technically not a string type.

Certain types like AlignedDynamicTable does allow empty `colnames` which is usually stored as an empty integer.

[2022-02-16 22:20] lawrence-mbf opened #395 "Fix definition of a "Required" property as defined in the schema."
Currently, "required" properties error if the field is empty. However, the schema defines "required" properties as the *existence* of the field in the file itself.

MatNWB should instead use this method:
If the property is "required": The data should be written regardless of its contents.
If the property is "optional": The data should be written **only** if not empty.

[2022-02-17 14:41] ehennestad commented on #393
It might be that the file I was trying to read was an old version. I updated my local matnwb repository, and now I can not open the file any longer.

[2022-02-17 17:16] mpompolas opened #398 "Namespace label inconsistency"
I am using the latest NWB version and trying to load some files I created last year.

I get this error during reading the NWB file:
[code]

The problem is due to inconsistencies ('-', '_') in the Namespace on this line in `nwbRead`:
`Namespace = Namespaces(strcmp({Namespaces.name}, namespaceName));
`
that returns an empty Namespace, since:

[code]

[code]

[2022-02-17 17:30] lawrence-mbf opened #399 "checkDims does not account for MATLAB squeezing scalar dimensions"
In the case of `/000054_Giocomo/sub-R4/sub-R4_ses-20190824T210000` the `checkDims` function does not account for MATLAB auto-squeezing out dimensions beyond 2 if they're all 1.

[2022-02-17 17:48] ln-vidrio commented on #398
We reverted that change a while ago but I'll add legacy support for underscores such as this. Thanks for reporting the issue!

[2022-02-17 18:58] #399 closed

[2022-02-17 20:00] lvsltz opened #402 "Issue reading icephys file"
`nwbRead` fails on reading icephys files generated with pynwb 2 and hdmf 3.1.1, e.g. this [one](https://www.dropbox.com/sh/e77tydm2sb5t7uy/AADviqzpEwZR2A7v0CAnKQ6Xa?dl=0)

[code]

[2022-02-17 20:10] #394 closed

[2022-02-17 20:34] lawrence-mbf opened #404 "`size` on datapipes is not correct."
BoundPipe branch should be swapped with BlueprintPipe

[2022-02-17 22:05] bendichter opened #405 "tutorial for reading data with dynamically loaded filters"

[2022-02-17 22:06] bendichter commented on #405
https://www.mathworks.com/help/matlab/import_export/importing-hierarchical-data-format-hdf5-files.html

[2022-02-17 23:09] lawrence-mbf opened #408 "Improve `h5info` performance"
While passable on most internal drives, will probably need some improvement for upcoming support of s3 as well as external drives.

Observed differences between internal and external drives can be up to 30x slower (20 seconds vs 10 minutes).

[2022-02-17 23:16] #395 closed

[2022-02-18 16:27] lawrence-mbf commented on #221
#259 fixes this issue

[2022-02-18 16:27] #221 closed

[2022-02-18 16:28] lawrence-mbf commented on #111
#320 has since been merged.

[2022-02-18 16:33] lawrence-mbf opened #409 "Support Map-like `subsref` overload for `types.untyped.Set` types."
Calling `get` all the time isn't quite idiomatic MATLAB.

[2022-02-18 16:40] lawrence-mbf opened #410 "add a `type` property for DataStubs"
Surprised this wasn't needed before.

[2022-02-18 16:47] lawrence-mbf opened #412 "Cache File and Dataset IDs for DataStubs"
- [ ] cache file and dataset ids on load and destroy them if possible.
- [ ] use a different solution for bound pipes which may cause file corruption if the dataset is not properly closed.

[2022-02-18 16:56] #410 closed

[2022-02-18 17:00] #404 closed

[2022-02-18 17:34] bendichter commented on #409
this would be cool!

[2022-02-18 17:36] lawrence-mbf commented on #409
Since Sets are already backed by `containers.Map` there isn't an issue in storing. We would just have to imitate its method for mapping string keys to values:
[code]

[2022-02-18 17:38] bendichter commented on #409
how about `nwb.processing.some_data`?

[2022-02-18 17:42] lawrence-mbf commented on #409
That would require changing the internals of the `Set` to use Dynamic Properties instead. I don't think you can do this with subsref and subsasgn. It would also require a separate cache which saves the property's true name as well as checking for strange collisions like a Set with the properties (`some data`, `some-data`, and `some_data`).

[2022-02-18 18:44] #402 closed, assigned to lawrence-mbf

[2022-02-18 20:55] bendichter commented on #409
ok, sounds like your solution is simpler and less risky

[2022-02-22 17:27] lawrence-mbf opened #414 "Fix .gitignore to allow new `+types/+untyped` and `+types/+util` functions"
We currently use the negation operator to negate all generated class files from being added to the repository. Unfortunately, due to a quirk in git, this negation doesn't completely work when adding new files even in "negated" directories:
https://www.atlassian.com/git/tutorials/saving-changes/gitignore

The best solution right now is to add common `gitignore` records for `core`, `hdmf-common`, an

[2022-02-22 17:28] lawrence-mbf commented on #414
One other workaround is for developers to remember to use `git add -f` when adding new files.

[2022-03-08 13:53] bendichter opened #416 "read not working for file in dandiset 000005"
downloaded with
[code]

then in matlab:

[code]

[code]

[2022-03-08 15:06] bendichter commented on #416
Gotcha, thanks for the pointer

[2022-03-11 17:22] lawrence-mbf opened #417 "Move docs to use Sphinx"
- [ ] Regular docs
- [ ] use [matlabdomain](https://github.com/sphinx-contrib/matlabdomain) to auto-generate class files.

[2022-04-22 00:09] rly opened #418 "[Feature]: Allow `toTable()` on extension subtypes of `DynamicTable`"
### What would you like to see added to MatNWB?

I have an NWB extension that includes a type that extends `DynamicTable`. I want to be able to visualize this table in MatNWB.

For example, in the [ndx-events extension](https://github.com/rly/ndx-events), `AnnotatedEventsTable` extends `DynamicTable`. However the following code does not work:

[code]

### Is your feature request related to a probl

[2022-04-22 00:15] rly commented on #418
Actually, does the `toTable()` method referenced in the [DynamicTable tutorial](https://neurodatawithoutborders.github.io/matnwb/tutorials/html/dynamic_tables.html) still work for DynamicTable objects?

[code]

[2022-04-26 14:56] lawrence-mbf commented on #418
That's interesting, the file generation does have a `toTable` method in version `2.4.0` and in master. Which MatNWB version is this?

[2022-04-26 17:23] lawrence-mbf opened #420 "[Documentation]: Update Time Intervals Usage in Tutorials"
### What would you like changed or added to the documentation and why?

Due to upcoming changes to the schema in 2.5.0:
https://github.com/NeurodataWithoutBorders/nwb-schema/pull/486

Tutorials that use the `TimeIntervals` class need to be updated to support this new class.
- [ ] basicUsage.mlx
- [ ] dimensionMapNoDataPipes.mlx
- [ ] dimensionMapWithDataPipes.mlx
- [ ] dynamic_tables.mlx
- [ ] ece

[2022-04-27 00:06] bendichter opened #421 "[Feature]: write with dynamically loaded filters"
### What would you like to see added to MatNWB?

I'd like to be able to write datasets with dynamically loaded filters, in particular zstd. @lawrence-mbf, if you can get it working in Windows I'll work on extending that to OSX and writing a tutorial

### Is your feature request related to a problem?

_No response_

### What solution would you like?

Probably need to extend DataPipe with args from

[2022-05-03 19:55] oruebel opened #426 "[Feature]: Use branch protections to avoid commits to the main branch"
### What would you like to see added to MatNWB?

I noticed that the main branch currently does not have any protections set up. We should setup branch protections here
https://github.com/NeurodataWithoutBorders/matnwb/settings/branches to make sure that changes to master are only permitted via PRs. We are using the same practice of permitting commits to the main branch only via PRs also for most o

[2022-05-04 11:39] lawrence-mbf commented on #426
`master` Branch protections are now set for everyone, including administrators.

[2022-05-04 11:39] #426 closed

[2022-05-04 11:54] lawrence-mbf commented on #418
Testing out your code with `ndx-events`: the `toTable` method is included in the AnnotatedEventsTable but I do see an error when the table is empty:
[code]

I'll open a PR fix for that. Can you try this on your machine using the tip of `master`?

[2022-05-09 20:59] sportnoah14 opened #429 "[Feature]: Autoload TimeSeries data with offset, conversion and channel_conversion"
### What would you like to see added to MatNWB?

Hi,

Instances of `TimeSeries` and children classes have additional fields added that specify how to properly load data. It would be useful if the load function(s) can automatically apply the operations expected to be performed.

### Is your feature request related to a problem?

_No response_

### What solution would you like?

Here's an example of

[2022-05-18 17:38] vikramvijayan opened #430 "[Bug]:"
### What happened?

I need to make a timeseries with only 1 entry (it is a sparse behavioral annotation of my data). I make both the data and timestamp a single entry and MatNWB makes the file fine, but I get an error when running nwbinspector.

Please let me know what is the best option for me to include this behavioral annotation. I cannot upload my data to DANDI because of this error (the NWB f

[2022-05-18 18:51] oruebel commented on #430
Based on the error, it seems that the data is stored as single scalar value, rather than as an array. Instead of providing the data as a single value, I believe you need to input it as an array instead. I think the following should work:

[code]

Quick question about the data. In the description you mention that this is an 'XYZ' location but the data is a scalar. If this is indeed a spatial series

[2022-05-18 18:54] CodyCBakerPhD commented on #430
@oruebel I think problem at the heart of it is MATLAB doesn't seem to distinguish the data type at all between the commands

[code]

only if there is, in fact, more than one item present in the array.

[2022-05-18 19:08] vikramvijayan commented on #430
@oruebel see @CodyCBakerPhD 's comment.

Also, "XYZ" was just meant to be a placeholder for an actual description (not coordinate information). Sorry for that confusion.

I made the 'data' and 'timestamp' the same because it is simple a behavioral annotation (when an animal laid an egg). Alternatively I could put data = 1 and timestamp = 12.3s. I'm open to both options but that won't fix the initi

[2022-05-18 19:18] oruebel commented on #430
Thanks for the clarification. I did not know that. That seems to be a question for @lawrence-mbf

[2022-05-18 20:04] lawrence-mbf commented on #430
This is fixable, it just has to do with how datasets know they must always be non-scalar as derived from the schema.

Is the case below the only time in the schema where a scalar dataset would be allowed?

[code]

[2022-05-18 20:23] vikramvijayan commented on #430
Thanks! Does this mean that once the commit is merged I can update matNWB and be ready to go?

[2022-05-18 20:24] lawrence-mbf commented on #430
Unfortunately, you'd have to recreate the file but otherwise yes.

[2022-05-18 20:32] vikramvijayan commented on #430
No problem at all! I'll monitor to see when the code has been updated!

[2022-05-19 15:39] bendichter commented on #430
@lawrence-mbf it sounds like the solution you are planning is ideal- defer to the schema to see if the dataset should be a vector. If that it difficult, another option could be to use `DataPipe`, but it seems like that would be far less user-friendly than what you are thinking.

[2022-05-31 16:07] lawrence-mbf commented on #430
@vikramvijayan Sorry for letting this fall through. Would it be possible for you to check if this resolves the warning? The code is currently still in the PR.

[2022-05-31 20:03] vikramvijayan commented on #430
Thanks @lawrence-mbf ! How would I go about downloading the code that is in PR? Downloading a .zip would be the easiest and I can take it from there.

[2022-05-31 20:04] lawrence-mbf commented on #430
@vikramvijayan You should be able to download from this URL: https://github.com/NeurodataWithoutBorders/matnwb/tree/430-force-dataset-array-shape.

[2022-05-31 20:12] mfeyerab opened #432 "[Bug]: checkConfig for dynamictable does not detect size of TimeSeriesReferenceVectorData object properly"
### What happened?

Hello together,

since the new release I have trouble creating objects that are dynamic tables and also have a TimeSeriesReferenceVectorData object such as IntracellularStimuliTable and IntracellularResponsesTable. No matter how I create TimeSeriesReferenceVectorData object the number of rows do not match up with the IDs, because they are not detected correctly. TimeSeriesRefer

[2022-05-31 20:30] lawrence-mbf commented on #432
It looks like the checkConfig doesn't check that form of compound type (struct with arrays).

[2022-06-03 15:04] mfeyerab commented on #432
@lawrence-mbf thank you for resolving this particular issue and sorry for me late response time. I fear though the problem goes deeper. I still run at least into one more issue when creating NWB files with/for intracellular data. I am about to create another bug report. I am not really a developer, so I hope that is the best way to go about it. I am a bit puzzled though that the new changes around

[2022-06-03 15:22] lawrence-mbf commented on #432
Hi @mfeyerab no problem, go ahead and mention that in your ticket. It's always good to get more coverage on types our developers might not use often or didn't consider for testing.

[2022-06-03 15:33] mfeyerab opened #434 "[Bug]: checkConfig for dynamictable does not work for AlignedDynamicTable object"
### What happened?

I am still struggling creating MATNWB objects for intracellular electrophysiology. The issue is similar to my previous bug report https://github.com/NeurodataWithoutBorders/matnwb/issues/432, in which the detected table height is incorrect and fails to be the same as the number of rows. This time it is the types.core.IntracellularRecordingsTable object. However, I believe it is

[2022-06-07 15:37] vikramvijayan commented on #430
Thanks @lawrence-mbf , it appears the updated code works!

[2022-06-07 16:10] #430 closed

[2022-06-07 16:34] lawrence-mbf commented on #434
AlignedTables looks interesting but replacing the `colnames` argument with an empty cell array appears to resolve this issue. Is there a reason for that column name? The reason for the error is because the configuration is looking for a VectorData column called `tables` which should be set as another argument and should be of height 2.

@bendichter if you have more input on how this type is usuall

[2022-06-08 17:52] mfeyerab commented on #434
I noticed that I made 2 little mistakes in the code (which I updated in the previous post)  and made sure that my script runs with the current master-branch with schema 2.4.0. (I checked in the nwb_version of the nwb object) Now my error messages look like this:

        Error using hdf5lib2
        The HDF5 library encountered an unknown error.
        Error in H5A.write (line 53)
        H5ML.hd

[2022-06-22 13:16] ftadel opened #437 "[Bug]: Syntax valid only after Matlab 2018b"
### What happened?

The syntax `maxVal = max(val, [], 'all');` is used here:
https://github.com/NeurodataWithoutBorders/matnwb/blob/master/%2Btypes/%2Butil/correctType.m#L34

It appeared in Matlab 2018b and crashes before that.
But it seems like matnwb should be working with older versions of Matlab.

This newer syntax can be easily replaced with:
`maxVal = max(val(:));`

This error was reported o

[2022-06-22 13:46] bendichter commented on #437
Thanks for raising this @ftadel. It's good to have documentation of this issue in case others run into it. Thanks for the fix suggestion. I think in this particular case we might be able to just use the more generic syntax you suggest for compatibility.

This does raise a bigger question though of what versions of MATLAB we want to support in cases where the changes would need to be more substanti

[2022-06-22 14:05] lawrence-mbf commented on #437
For ScanImage right now we just bumped it up to 2018a. My assumption was the same as yours that most universities have a site-wide license which allows them access to the newest release.

[2022-06-22 14:22] ftadel commented on #437
Unfortunately, this is true in rich universities of rich countries only.
On the Brainstorm forum, we commonly address requests from users with Matlab license older than 5yrs.

When it does not require much extra work (like in the example above with `max`), we try to always favor the most backward-compatible syntax.
Similarly, for all the functions from specialized commercial toolboxes, we try to p

[2022-06-22 14:47] lawrence-mbf commented on #437
That's good to know. I guess for now we'll try and limit ourselves to 2017a and if there is a need to go older we can address that specifically.

[2022-06-22 18:44] #437 closed, assigned to nobody

[2022-07-22 16:19] #421 closed

[2022-07-25 19:46] lawrence-mbf opened #444 "[Documentation]: Remove tutorials/ophys.m"
### What would you like changed or added to the documentation and why?

`tutorials/ophys.m` is not used and is most likely not up to date. It should be removed.

### Do you have any interest in helping write or edit the documentation?

Yes.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/neurodatawithoutborders/matnwb/blob/master/.github/CODE_OF_CO

[2022-07-25 19:50] lawrence-mbf opened #445 "[Documentation]: Remove Toolbox dependencies from tutorials"
### What would you like changed or added to the documentation and why?

`tutorials/ecephys.mlx` uses `poissrnd` and `exprnd` are only available with the Statistics Toolbox. This should not be.

### Do you have any interest in helping write or edit the documentation?

Yes.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/neurodatawithoutborders/matnw

[2022-07-26 19:30] lawrence-mbf opened #449 "[Documentation]: Add tutorials to tests"
### What would you like changed or added to the documentation and why?

These are currently run manually to ensure compatibility but it would be nice to add these to the CI

### Do you have any interest in helping write or edit the documentation?

Yes.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/neurodatawithoutborders/matnwb/blob/master/.githu

[2022-07-29 13:17] #445 closed

[2022-07-29 13:17] #449 closed

[2022-07-29 13:17] #444 closed

[2022-08-08 14:35] dervinism opened #452 "[Bug]: Unexpected properties {description} error when creating spike times arrays"
### What happened?

I am following your [tutorial on how to create an ecephys NWB file](https://neurodatawithoutborders.github.io/matnwb/tutorials/html/ecephys.html). Executing line
[code]
gives the following error:
[code]

### Steps to Reproduce

[code]

### Error Message

[code]

### Operating System

Windows

### Matlab Version

R2021a

### Code of Conduct

- [X] I agree to follow this project'

[2022-08-08 14:55] dervinism commented on #452
Thanks for a quick response. I needed to run `generateCore` prior to running the other code. That solved the issue.
Line 67: `varargin = [{'nwb_version' '2.5.0'} varargin];`

[2022-08-08 14:55] #452 closed

[2022-08-08 15:50] dervinism opened #453 "[Bug]: Cannot load NWB file generated using Python"
### What happened?

The issue has originally been reported [here](https://github.com/AllenInstitute/AllenSDK/issues/2513#issuecomment-1208227325).

### Steps to Reproduce

[code]

### Error Message

[code]

### Operating System

Windows

### Matlab Version

R2021a

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/neurodatawithoutborders/matnwb/blob/m

[2022-08-12 16:00] lawrence-mbf opened #455 "[Documentation]: Update Auto-generated documentation"
### What would you like changed or added to the documentation and why?

Missing Dynamic Filter classes and Shuffle class changes.

### Do you have any interest in helping write or edit the documentation?

Yes.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/neurodatawithoutborders/matnwb/blob/master/.github/CODE_OF_CONDUCT.md)
- [X] Have you ensure

[2022-08-15 21:35] bendichter opened #457 "[Bug]: tutorials creating invalid DynamicTables"
### What happened?

The DynamicTables code is creating dynamic tables with ids that do not pass validation.

I am using the simple snippet

[code]

this writes the file with no problem. Then when I try to validate this using nwbinspector I get validation errors:

[code]
One of the message is:
[code]

The [NWB specification language](https://schema-language.readthedocs.io/en/latest/description.html

[2022-08-15 21:58] bendichter opened #458 "[Bug]: Dynamictable.addRow with logical type"
### What happened?

I am trying to refactor the tutorials to use `addRow`, but I am getting errors. The works exactly as expected:

[code]

but then when I try to add another row:

[code]

I get this error

[code]

### Steps to Reproduce

[code]

### Error Message

_No response_

### Operating System

macOS

### Matlab Version

matlab 2022a

### Code of Conduct

- [X] I agree to follow this projec

[2022-08-18 18:09] #457 closed

[2022-09-03 15:11] dervinism opened #462 "[Bug]: VectorData.data is converted to string: Error using hdf5lib2 The memory type is incompatible with H5T_STRING."
### What happened?

In some instances VectorData property data is being converted to an array of strings upon saving the NWB file. When the conversion fails, the error is issued:
[code]
If I manually convert data into an array of strings, the issue is resolved. However, I don't understand why in some instances I can use an array of numbers and in other instances I have convert them to strings. The

[2022-09-06 14:40] dervinism commented on #462
Hi Lawrence,

metadata is a Matlab table but individual values are double. Other table columns contain either doubles or strings. If I input any other table columns with doubles, they produce the same error. The only things that works is converting doubles into strings. However, no such issue for other entries excepts for waveform_mean which has the same issue.

[2022-09-06 14:49] lawrence-mbf commented on #462
Are you using any extension schemas? Specifically anything that might overload the Units table declaration? I'm not seeing anything special with `rel_vert_pos` and `rel_horz_pos` using the normal schema.

[2022-09-06 15:00] dervinism commented on #462
No extensions. ```rel_vert_pos``` and ```rel_horz_pos``` are just like other entries. Nothing special about them.

[2022-09-06 15:21] lawrence-mbf commented on #462
So when you index into a table using parentheses, you actually get another table containing only that column. When exporting, this is actually presumed to be a compound type and we encode all the types that way. I'm not sure why `table2struct` converted your values to struct but this might be a problem.

I understand this might be asking a lot but could you try this script but replacing the table

[2022-09-06 15:54] dervinism commented on #462
metadata{:,1} gives a column cell array of doubles. The NWB file is saved fine, but the saved values are random strings. Presumably the numbers are translated into strings.

cell2mat(metadata{:,1}) gives a column vector of doubles. It crashes the code with the typical error.

[2022-09-06 16:38] lawrence-mbf commented on #462
I am unable to recreate this issue on my end using random double values. Is it possible for you to send a subset of the non-working NWB file? I can send you a link where you can upload it.

[2022-09-06 16:45] lawrence-mbf commented on #462
Oh, nevermind. I missed your reference to your cell array of doubles.

Blocking primitive cell arrays is currently not supported through regular construction (it *is* supported in `addRow` syntax). Were you trying to create ragged arrays using this format?

[2022-09-06 20:23] dervinism commented on #462
I am not sure I understand your reply. As I said, the error is caused by all data types except strings. I can share the code with the data example that reproduces the error.

[2022-09-06 20:42] lawrence-mbf commented on #462
At the current moment and from what I could glean from your comments, what you're trying to do won't work without script modification. There's no support for storing cell arrays of doubles and MatNWB assumes that cell arrays are strings (which should now throw an error as of the tip of master).

Is this part of a downstream automation that was read in from another NWB file by chance? Otherwise I'm

[2022-09-06 20:52] dervinism commented on #462
I don't have cell arrays. I have a Matlab table. Indexing into a table will give cell arrays. But you can convert them to any type of data. Whatever type is used, either the error is thrown or data is converted to strings amd the output no longer makes sense.

[2022-09-06 21:31] lawrence-mbf commented on #462
Right, the tip of master should now throw an error when it encounters a cell array of doubles as that is not representable in HDF5 on its own.

In the case of MATLAB tables, grouping doubles into vectors of cell arrays is to allow for a variable number of double values per row. Do you happen to know if that is the case here or is it just preventative? If so, then you will need to use a different m

[2022-09-06 21:51] dervinism commented on #462
I don't know the answer to your question. I'll try out the latest matnwb and see if I still get the error.

[2022-09-06 22:01] lawrence-mbf commented on #462
I'll follow up tomorrow but my recommendation is to use the `dynamictable = util.table2nwb(metadata, 'description');` function provided as that should get you most of the way there with the proper nwb object structure.

Sep 6, 2022 17:51:31 Martynas Dervinis ***@***.***>:

[2022-09-06 23:01] dervinism commented on #462
I use  util.table2nwb to create an electrode table. Overall, I am following matnwb ecephys [tutorial](https://neurodatawithoutborders.github.io/matnwb/tutorials/html/ecephys.html).

Now I've tested the latest master branch of matnwb and it gives the same error. Except now if I use cell arrays, I get a new type of error that you have recently introduced to prohibit cell arrays. Using all other type

[2022-09-07 08:28] dervinism commented on #462
Also the latest matnwb introduces a new error which was not present in the previous version (see below). I will revert back to the old version.
[code]

[2022-09-07 13:59] lawrence-mbf commented on #462
Yes, is there a place where we can see your code? Posting example data should help too.

[2022-09-07 18:23] lawrence-mbf commented on #462
Hi @dervinism,

I got this data working (and on R2017a as well) but the script needs a few changes in how you create and use the `table` object. I do not believe these fixes warrant any change to the MatNWB code base itself. Would you prefer the changes described here? I'm not familiar with GIN.

[2022-09-07 19:00] dervinism commented on #462
Sure, describing here will work. Thanks for looking into my code.

[2022-09-07 19:53] lawrence-mbf commented on #462
It really all goes back to the cell arrays. VectorData objects cannot be instantiated with cell arrays of numeric types. Their data properties only allow for conversions of:
1) cell arrays of character vectors (converted to arrays of variable length string types).
2) multi-dimensional numeric matrices (converted to their equivalents in HDF5).
3) structs, container.Map objects, and table objects (c

[2022-09-07 19:56] lawrence-mbf commented on #462
On a side note, `waveformMeans` should also be concatenated into a double matrix and not converted to a string.

[2022-09-08 12:11] dervinism commented on #462
This info is useful but this is not the cause of the error. Even if I follow your instructions I get an error on one machine but not on the other. I even now tried different Matlab versions and they all produce the same error on one machine but not on the other. Very strange!

[2022-09-08 14:20] lawrence-mbf commented on #462
The script with your changes works fine for me.

Can you delete the output NWB file in your cleanup script prior to running `convert2nwb`? MatNWB by will attempt to modify the NWB file otherwise.

[2022-09-08 16:01] dervinism commented on #462
Deleting old NWB files did solve the problem in the end. Many thanks for your help!

[2022-09-08 16:16] lawrence-mbf commented on #462
Good to see!

[2022-09-08 16:16] #462 closed

[2022-09-16 15:11] lawrence-mbf commented on #462
Submit your images today! Winners of the August Image Contest   Juror's Choice Winner Perinatal Infection in the Monkey Brain Danielle Beckman California National Primate Research Center People's Choice Winner Neural-Glial-Vascular Complex Network Norberto Garcia-Cairasco Ribeirão Preto School of Medicine - University São Paulo   Thank You to everyone who entered! You are part of a growing collect

[2022-10-04 21:19] BrockMCarlson opened #466 "Dandiset 000021 error with nwbRead"
### What happened?

Dandiset 000021 NWB files do not load into the matlab workspace using nwbRead. Other nwb files from other dandisets do seem to load. I suspect there may be something specific to the nwb file format in the 000021 dandiset that prevents nwbRead completion.

### Steps to Reproduce

[code]

### Error Message

[code]

### Operating System

Windows

### Matlab Version

    '9.12.0.19

[2022-10-04 21:29] lawrence-mbf commented on #466
Hi @BrockMCarlson,

Are you using a release version of MatNWB or the tip of the master branch?

[2022-10-04 22:06] BrockMCarlson commented on #466
Hi @lawrence-mbf . Thanks! I have tried cloning the repo from the github master branch. I have also deleted that download and re-tried the process with the Mathworks FileExchange release. I believe both of these are the tip of the master branch, correct?

[2022-10-05 13:24] lawrence-mbf commented on #466
@BrockMCarlson I believe so. I will look into this.

[2022-10-05 13:34] lawrence-mbf commented on #466
This is due to how booleans are encoded in h5py as HDF5 does not provide boolean data on its own. Related to #458

[2022-10-11 08:16] lawrence-mbf commented on #462
You don't want to miss this. September 2022﻿ MBF Bioscience News Highlights   Product Spotlight: Stereo Investigator® - Cleared Tissue Edition Researchers quantify cortical cell numbers in cleared tissue with new unbiased stereology technique   The Image Volume Fractionator probe, available in Stereo Investigator – Cleared Tissue Edition, enables researchers to quickly and easily quantify the numb

[2022-10-13 15:31] lawrence-mbf commented on #462
Submit your images today! An image contest celebrating the beauty of the brain The NeuroArt image contest is a celebration of the beauty of the brain. It's a place to share your view of the brain - whether you use stains or dyes to visualize neurons under a microscope, use fMRI to analyze brain activity, or put a pencil to a piece of paper and draw your perspective. Any image, photo, drawing, or p

[2022-11-01 18:44] vncntprvst opened #468 "[Bug]: error reading NWB file created with MatNWB tutorials"
### What happened?

The command `read_nwbfile = nwbRead('intro_tutorial.nwb')` returns this error:
[code]
The same error occurs with any .nwb file created from the tutorials.
A `NamespaceData` appears to be empty, which trips the call `requiredKeysExist = isKey(Map, 'name') && isKey(Map, 'schema');` in `getNamespaceInfo/getInfo`.

### Steps to Reproduce

[code]

### Error Message

[code]

### Oper

[2022-11-01 19:04] lawrence-mbf commented on #468
Hi @vncntprvst I am unable to recreate this with the intro script using both the tip of master as well as the most recent release. Which version of MatNWB are you using?

[2022-11-01 19:28] vncntprvst commented on #468
Hi @lawrence-mbf. I'm using the current Github version.
I can use the v2.5 release instead and see if it works.
Thanks

[2022-11-01 20:39] lawrence-mbf commented on #468
Hi @vncntprvst That's what I mean by the tip of the master branch. Did you run `generateCore` before running the intro script? It's listed as an instruction but is not actually in a code block it looks like.

[2022-11-01 23:13] bendichter commented on #468
@vncntprvst try re-cloning, then regenerating and make sure there aren't any other matnwb repos in the path

[2022-11-02 00:30] vncntprvst commented on #468
Re-cloning the repo fixed this issue. I have no idea what was wrong with the old one.
Thanks for the help!

[2022-11-02 00:30] #468 closed

[2022-11-04 18:33] yarikoptic opened #469 "[Feature]: ROS3 HDF5 driver support"
### What would you like to see added to MatNWB?

Analogous to pynwb/h5py support of ROS3 HDF5 driver mode https://pynwb.readthedocs.io/en/stable/tutorials/advanced_io/streaming.html#streaming-method-1-ros3

I remember some folks talking about it but failed to find any issue, so decided to report

### Is your feature request related to a problem?

_No response_

### What solution would you like?

A

[2022-11-04 19:06] hungtuchen opened #470 "[Bug]: Unexpected attributes with nwbRead Dandiset 000115"
### What happened?

`Unexpected properties {camera_device 1}` when using `nwbRead` to read data file `https://dandiarchive.org/dandiset/000115/0.210914.1732/sub-despereaux/sub-despereaux_ses-despereaux-07_behavior+ecephys.nwb`.

### Steps to Reproduce

[code]

### Error Message

[code]
[code]

[2022-11-04 19:50] bendichter commented on #469
Thanks for opening this issue! In fact, this is possible to do, and you are right this should be a tutorial in MatNWB.

MATLAB has their own version of this. See the convo on the DANDI helpdesk here: https://github.com/dandi/helpdesk/discussions/59.

You need to make sure your credentials as set up correctly, and then you can just pass an s3 path to `nwbRead`. The problem is that this is quite slo

[2022-11-04 20:34] bendichter commented on #469
Just tested it locally. I think > 20 seconds to open a file is too long to really be practical.

[code]

[2022-11-04 20:45] bendichter commented on #470
Hey @transedward thanks for opening the issue. This is going to be a bit tricky to reproduce because it's a 90 GB file. In Python I'd just stream it using fsspec, but the tools to do this in MATLAB are not as good. I'm downloading the file but it could take a while.

Looking at the traceback it looks like the issue is with the ndx_franklab_novela extension, not the core schema. Is it possible that

[2022-11-04 20:51] lawrence-mbf commented on #470
I agree that it's most likely coming from the extension schema and not the main one. I just finished downloading a representative file and it seems to come from the `CameraDevice` object which does come from the `ndx-franklab-novela` extension schema.

[2022-11-04 20:54] lawrence-mbf commented on #77
Fixed by #467

[2022-11-04 20:54] #77 closed

[2022-11-04 21:10] lawrence-mbf commented on #470
I think see what the issue is. It has to do with the modifications to the `device` property in the core `ImageSeries`. The problematic type--NwbImageSeries--has modified the property to expand it to contain multiple Device objects. This causes a subtle breakage where the default value of `device` is not supposed to be `[]` as expected by `checkUnset`.

[2022-11-12 03:56] chenguangsmy opened #472 "[Bug]: The generated data cannot be configured"
### What happened?

I tried to convert my format into the format of NWB. I use the trial-based conversion. Among them is a time series called "cursor_pos", which describes the cursor's position. I found that after I added this variable the conversion of NWB runs good (which do not report error in the matlab), however when I configure it in the terminal (I use mac system), the error message occurs.

[2022-11-14 14:33] lawrence-mbf commented on #472
Hi @chenguangsmy what do you mean by configuration through terminal? And to be clear, errors regarding `intervals_trials` are now fix when `cursor_pos` is added, is that correct?

[2022-11-14 14:39] lawrence-mbf commented on #453
Hi @dervinism apologies for the late reply, could you use the tip of MatNWB master and see if reading still causes that issue?

[2022-11-14 14:40] chenguangsmy commented on #472
Hi Lawrence. "configuration through terminal" means I execute the `nwbinspector filedir --config dandi` in the terminal.
The errors regarding `intervals_trials` happen when `cursor_pos` is added, and are fixed when `cursor_pos` was removed.

[2022-11-14 14:53] lawrence-mbf commented on #466
Hi @BrockMCarlson Since bool support has been merged, the only issue is just due to this long outstanding issue with `waveform_mean`  #43

[2022-11-14 16:20] chenguangsmy commented on #472
@lawrence-mbf Yes, the length of `cursor_pos_index` is equal to all the other columns.

The error is pasted below: I don't really understand what it means.

`File "/opt/homebrew/lib/python3.10/site-packages/hdmf/build/objectmapper.py", line 1252, in construct
    raise ConstructError(builder, msg) from ex
hdmf.build.errors.ConstructError: (root/intervals/trials GroupBuilder {'attributes': {'colnam

[2022-11-14 16:21] lawrence-mbf commented on #472
@chenguangsmy Are both errors coming from nwbinspector and not when you actually create the file?

[2022-11-14 16:28] lawrence-mbf commented on #472
As a preliminary fix, could you change the following code for `cursor_pos_index` and see if that passes?

[code]

Change

[code]

to

[code]

as with `cursor_pos`

[2022-11-14 22:09] vncntprvst opened #473 "[Documentation]: support for PyNWB's cached schemas is not documented"
### What would you like changed or added to the documentation and why?

Hi,
The documentation says:
"PyNWB's cached schemas are also supported, bypassing the need to run generateCore or generateExtension if present."

It is unclear how install and use those cached schemas, or even what purpose it would serve.
For example, does this enable using NWB extensions that have been developed for PyNWB?

A

[2022-11-15 00:00] bendichter commented on #473
Any file written in PyNWB, including those with extensions, will be readable in MATLAB without needing to generate the API of the core nor extensions, as long as the schema(s) are cached (which is default)

[2022-11-15 03:54] chenguangsmy commented on #472
Yes, it only comes from the inspector. When I create the file using matlab, there is no problem exist.

I tried the changing `[Inf, 1]`, to `Inf`, the problem still exists.

[2022-11-15 14:48] vncntprvst commented on #473
I see. Thanks for the clarification.
I can send a PR to update that section of the documentation accordingly, if you think that's worth it.

[2022-11-15 14:55] lawrence-mbf commented on #473
It would be nice for sure! Though if you don't wish to, I will need to know where this documentation actually is so it can be edited.

[2022-11-15 15:49] CodyCBakerPhD commented on #472
Thanks @lawrence-mbf for bringing my attention on this

@chenguangsmy To determine if this is actually the inspector or if the problem is at a lower level, can you try running the following commands from the same terminal as the `nwbinspector`?

(i)

[code]

(ii)

[code]

(or just make a `.py` file and run it as a script, whichever you prefer)

[2022-11-15 16:31] lawrence-mbf commented on #462
Submit your images today! Winners of the October Image Contest   Juror's Choice Winner Neurons in 3D Sherin Abdelrahman King Abdullah University of Science and Technology People's Choice Winner Microglia Trying to Engulf Amyloid-Beta Kuldeep Tripathi Bar Ilan University   Thank You to everyone who entered! You are part of a growing collection of amazing images celebrating the beauty of the brain.

[2022-11-15 20:42] yarikoptic commented on #470
Is the fix coming?

[2022-11-15 20:46] lawrence-mbf commented on #470
It requires a larger change to class generation where `checkUnset` is used. But yes, working on it.

[2022-11-15 21:23] #473 closed

[2022-11-16 01:25] rly commented on #462
@lawrence-mbf it looks like your email client sent some replies here. Can I delete them?

[2022-11-16 03:44] chenguangsmy commented on #472
Hi @CodyCBakerPhD, I use the first option. As the command `python -m` does not work on my computer, I use the command `python3 -m`. And it come up with the following message:

`Validating /Users/cleave/Documents/projBNU/delaywalking_analysis/Output_figures/multiRaggedExpandableTableTest_GPW.nwb against cached namespace information using namespace 'core'.
 - no errors found.`

What is that mean? Do

[2022-11-16 04:08] CodyCBakerPhD commented on #472
That is actually a good result - it means the file is valid in the strict schematic sense (shapes of data are as expected, text fields are where they need to be, etc...)

Next can you try the second option to attempt to load the `nwbfile` through the Python API (`pynwb`)? Construct errors like those you initially listed typically occur at that stage (the call to `pynwb.validate` scans the file con

[2022-11-16 04:21] chenguangsmy commented on #472
It resulted in new question to me:

`Traceback (most recent call last):
  File "<string>", line 3, in <module>
  File "/opt/homebrew/lib/python3.10/site-packages/hdmf/utils.py", line 644, in func_call
    pargs = _check_args(args, kwargs)
  File "/opt/homebrew/lib/python3.10/site-packages/hdmf/utils.py", line 637, in _check_args
    raise ExceptionType(msg)
TypeError: NWBHDF5IO.__init__: missing a

[2022-11-16 05:09] CodyCBakerPhD commented on #472
Ah, sorry - my bad. Should be

[code]

[2022-11-16 05:19] chenguangsmy commented on #472
Hi Cody,

I changed to your new code. It does execute. However, it cause some new error. The error message looks similar with the previous one. So, I paste it's error message here:

`/opt/homebrew/lib/python3.10/site-packages/hdmf/spec/namespace.py:531: UserWarning: Ignoring cached namespace 'hdmf-common' version 1.5.0 because version 1.5.1 is already loaded.
  warn("Ignoring cached namespace '%s'

[2022-11-16 05:29] CodyCBakerPhD commented on #472
@chenguangsmy OK, that's making progress - thank you for checking all of these things for us, and I'm very sorry about all these issues

I'd maybe ask you to run just one more quick thing to see if it produces the same error as you posted initially (about columns of unequal size) or the new one (about the tags)

[code]

just to try to eliminate potential environmental/entrypoint problems from the

[2022-11-16 23:53] lawrence-mbf commented on #462
Yeah, my bad

Nov 15, 2022 20:26:05 Ryan Ly ***@***.***>:

[2022-11-17 16:04] lawrence-mbf commented on #470
@transedward @yarikoptic Let me know if #475 fixes this issue.

[2022-11-18 03:33] chenguangsmy commented on #472
@CodyCBakerPhD @rly @oruebel May I check in with the answer to the latest error? I hope I can solve the problem as soon as possible.

[2022-11-18 03:50] CodyCBakerPhD commented on #472
The quickest solution might be to see if removing the field 'tags' from the conversion results in a readable file - if not, are you willing to share the `.mat` file used in the script (or another `struct` with randomized data that replicates the issue)? This would help us tremendously in reproducing the issue locally so we can dig into all the potential points of error

[2022-11-18 04:26] chenguangsmy commented on #472
Oh nice! Removing 'tags' actually works! Thank you so much Dr. Baker!

[2022-11-18 07:10] CodyCBakerPhD commented on #472
Phew 😅 glad to hear!

We'll continue to try to isolate the issue to prevent the underlying problem from happening again in the future.

[2022-11-19 17:32] raphaelguex opened #477 "Bug: Error in util.loadTimeSeriesData (line 30)"
### What happened?

When I try to access trials data of iEEG, i got the error: "Error using NaN
Size inputs must be integers". I thought I could fix this by identifying the trials with NaN but I could not find these data after having loaded the file with nwbRead. I am not new to matlab/iEEG but totally new to NWB. I am trying to analyze the open dataset of Woolnough – Tandon. The code I am using i

[2022-11-19 17:47] raphaelguex opened #478 "[Bug]: Unexpected Properties in iEEG Data"
### What happened?

When I try to access trials data of iEEG, i got the error: "Error using assert (line 5)
Unexpected properties {AD CAR LF LO LT Marker OF PD PST TP}.".

I tried to upgrade the version of matNWB I am using, but this did not solve this issue.

I thought I could fix this by identifying the trials with NaN but I could not find these data after having loaded the file with nwbRead. I

[2022-11-21 19:26] lawrence-mbf commented on #478
The issue was the NWB file itself which had `/general/devices/` and `/general/extracellular_ephys/` as typed groups (they should not be). Simply deleting the type attributes in these groups allowed for normal reading of the file.

[2022-11-21 19:26] #478 closed

[2022-11-22 18:03] #477 closed

[2022-11-22 23:07] bendichter commented on #478
@raphaelguex how did you create these files?

[2022-11-22 23:10] #469 closed

[2022-11-23 15:56] raphaelguex commented on #478
I did not create these files, it comes from an open database.
many thanks again for your help !
    Le mercredi 23 novembre 2022 à 00:07:40 UTC+1, Ben Dichter ***@***.***> a écrit :

@raphaelguex how did you create these files?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-11-23 18:52] raphaelguex opened #479 "[Bug]: "core" file not working with parfor loops"
### What happened?

I am trying to use the NWB with a parfor loop, to upload the data. And it seems to me that the "core" file (matnwb-master\namespaces\core.mat.) cannot handle the parfor loop. Would you have any suggestion to be able to use parfor with NWB ? Many thanks!

### Steps to Reproduce

[code]

### Error Message

[code]

### Operating System

Windows

### Matlab Version

2021b

### Code

[2022-11-23 19:23] lawrence-mbf commented on #479
Hi @raphaelguex,

To generate class files efficiently, MatNWB caches read-in namespaces and generates class files off of these whenever you call `generateCore` or `nwbRead`. Using `parfor` with these calls will cause file locking issues since you're accessing these files in parallel so you would want to disable that file generation when you use `nwbRead`.

Assuming that the embedded spec is the sa

[2022-11-23 20:03] raphaelguex commented on #479
Many thanks for your response and fix! it seems to work well.

May I ask "what could I miss" by using this approach ? which type of infor may be wrong ? I am not familiar with this way to prepare the data and embedded spec is still vague to me. thanks!

[2022-11-23 20:14] lawrence-mbf commented on #479
If you read a file using MatNWB whose schema does not match your environment, you risk running into read errors either due to:
- classes not being defined or defined with incorrect properties.
- classes being in the wrong namespace.

Usually these issues are caught and you should see an error or warning indicating that this is the case, or some kind of conversion error where a class defined in one

[2022-11-24 13:21] raphaelguex commented on #479
Yes, many thanks for these precisions!